$sprite-sheet: (
  rows: (
    // Blank
    (
      width: 100,
      height: 100
    ),
    // Blank
    (
      width: 100,
      height: 100
    )
  ),
  named-cells: (
    // Blank
    blank-1: (1, 1),
    blank-2: (1, 2),
  ),
  padding: 2,
  image: '../images/sprites.png'
);

@mixin sprite-by-name($name, $viewport: null) {
  @include sprite-by-cell(nth(map-get(map-get($sprite-sheet, named-cells), $name), 1), nth(map-get(map-get($sprite-sheet, named-cells), $name), 2), $viewport);
}

@function calculate-sprite-x($column, $row) {
  $width: map-get(nth(map-get($sprite-sheet, rows), $row), width);
  $padding: map-get($sprite-sheet, padding);
  @return (($width + ($padding * 2)) * ($column - 1)) + $padding;
}

@function calculate-sprite-y($column, $row) {
  $padding: map-get($sprite-sheet, padding);
  $y: 0;
  @if $row > 1 {
    @for $i from 1 through $row - 1 {
      $y: $y + map-get(nth(map-get($sprite-sheet, rows), $i), height) + ($padding * 2);
    }
  }
  @return $y + $padding;
}

@function calculate-sprite-sheet-width() {
  $width: 0;
  $i: 1;
  $padding: map-get($sprite-sheet, padding);
  @each $row in map-get($sprite-sheet, rows) {
    $cell-width: map-get($row, width) + ($padding * 2);
    $cell-count: 0;
    @each $name, $coords in map-get($sprite-sheet, named-cells) {
      @if nth($coords, 2) == $i {
        $cell-count: $cell-count + 1;
      }
    }
    $row-width: $cell-width * $cell-count;
    @if $row-width > $width {
      $width: $row-width;
    }
    $i: $i + 1;
  }
  @return $width;
}

@function calculate-sprite-sheet-height() {
  $height: 0;
  $padding: map-get($sprite-sheet, padding);
  @each $row in map-get($sprite-sheet, rows) {
    $height: $height + (map-get($row, height) + ($padding * 2));
  }
  @return $height;
}

@mixin sprite-by-cell($column, $row, $viewport: null) {
  $x: calculate-sprite-x($column, $row);
  $y: calculate-sprite-y($column, $row);
  $scale: 1px;
  @if $viewport {
    $scale: $viewport / map-get(nth(map-get($sprite-sheet, rows), $row), width);
  }
  background-image: url(map-get($sprite-sheet, image));
  background-position: 0 - ($x * $scale) 0 - ($y * $scale);
  background-repeat: no-repeat;
  background-size: (calculate-sprite-sheet-width()) * $scale;
}

// @each $name, $coords in map-get($sprite-sheet, named-cells) {
//   @debug $name calculate-sprite-x(nth($coords, 1), nth($coords, 2)) calculate-sprite-y(nth($coords, 1), nth($coords, 2));
// }
// @debug WIDTH calculate-sprite-sheet-width();
// @debug HEIGHT calculate-sprite-sheet-height();
